{
    "env": {
        "node": {
            "plugins": [["module-resolver", { "root": ["./"] }]],
            "presets": [["env", { "targets": { "node": "current" } }], "react"]
        },
        "lingui": {
            "presets": ["next/babel", "lingui-react"]
        }
    }
}
